@use "./../../styles.scss";
@import "./../loading.scss";

.container {
  width: 100vw;
  height: 100%;
  background-color: styles.$content-background;
  padding: 2rem 7rem;
  display: flex;
  gap: 20px;
}

.loading-container {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.similar-loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: styles.$card-background;
  height: 80vh;
  width: 50%;
  img {
    height: 60%;
    max-width: 350px;
    object-fit: contain;
    &:hover {
      height: 70%;
    }
  }
}
.product-details {
  background-color: styles.$base-color;
  padding: 20px;
  flex-grow: 1;
  height: 80vh;
  min-width: 300px;
  width: 30%;
  .product-title {
    display: flex;
    align-items: center;
    h1 {
      font-weight: 400;
    }
  }
  .rating {
    padding: 20px 0px;
    .material-symbols-outlined {
      color: styles.$primary-color;
    }
  }

  .price {
    padding: 20px 0px;
    color: darkgreen;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cart-button {
  margin-left: 100px;
}

.count-container {
  display: flex;
}

.count {
  width: 80px;
  border: none;
  color: black;
  padding: 16px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border: 2px solid black;
  cursor: pointer;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid black;
  .cart-icon {
    color: black;
  }
}

.button:hover {
  background-color: black;
  color: white;
  .cart-icon {
    color: white;
  }
}

.checkout-button {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  span {
    margin-left: 10px;
  }
}
.checkout-button:hover {
  background-color: white;
  color: black;
}
.similar-products {
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 30vh;
}
.scroll-container {
  display: inline-flex;
  height: 100%;
  .product-card {
    display: flex;
    justify-content: start;
    background-color: styles.$card-background;
    height: 100%;
    width: 200px;
    box-shadow: styles.$card-shadow;
    margin-right: 10px;
    .product-card-image {
      height: 100%;
      width: 100%;
      padding: 10px;
      img {
        height: 80%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
