<div class="container" *ngIf="cartItems.length">
  <div class="cart-section">
    <div class="product-card" *ngFor="let item of cartItems">
      <div class="product-card-image">
        <img [src]="item.image" alt="{{ item.title }}" />
      </div>
      <div class="product-card-details">
        <h3 class="product-title">{{ item.title }}</h3>
        <div class="rating" [style.width.px]="120">
          <div>
            <span class="material-symbols-outlined md-48"> star </span>
            <span class="material-symbols-outlined md-48"> star </span>
            <span class="material-symbols-outlined md-48"> star </span>
            <span class="material-symbols-outlined md-48"> star </span>
            <span class="material-symbols-outlined md-48"> star </span>
            <span>({{ item.rating.count }})</span>
          </div>
        </div>
        <p class="details">
          Price : <span class="price">$ {{ item.price }}</span>
        </p>
        <p class="details">Quantity : {{ item.quantity }}</p>
      </div>
      <div class="product-actions">
        <span
          class="material-symbols-outlined md-48 cart-icon"
          (click)="removeItem(item)"
        >
          delete
        </span>
      </div>
    </div>
  </div>
  <div class="checkout-section">
    <div class="apply-promo">
      <h4>Apply Promo Code</h4>
      <input class="count" [value]="" />
      <button class="button">Apply</button>
    </div>
    <div class="billing-details">
      <div>
        Subtotal
        <p>${{ subTotal | currency: "4.2" }}</p>
      </div>
      <div>
        Shipping Charges
        <p>${{ subTotal === 0 ? 0 : 20 }}</p>
      </div>
      <hr />
      <div>
        <h2>
          Grand Total
          <p>(Prices include GST)</p>
        </h2>
        ${{ subTotal + (subTotal === 0 ? 0 : 20) | currency: "4.2" }}
      </div>
      <button class="button checkout-button">Checkout</button>
    </div>
  </div>
</div>
<div class="Empty-cart" *ngIf="!cartItems.length">
  <img
    src="./../../assets/emptyCart.svg"
    alt="Your Cart is Empty"
    [height]="300"
  />
  <div class="empty-message">
    <h3>Your cart is empty</h3>
    <button class="button" [routerLink]="['/products']">
      Lets go shopping
    </button>
  </div>
</div>
