<header>
  <nav class="navMenu">
    <div class="menuIcon">
      <span class="material-symbols-outlined md-48"> menu </span>
    </div>
    <img
      class="shoppy-logo"
      src="./../assets/shoppy-logos_black.png"
      [routerLink]="['/products']"
    />
    <div class="navLinks">
      <a
        [routerLink]="['/products', category]"
        *ngFor="let category of categories"
        >{{ category }}</a
      >
    </div>
    <div class="navIcons">
      <span class="material-symbols-outlined md-48" [routerLink]="['/cart']">
        shopping_cart
        <span class="count-badge">{{ cartItemCount }}</span>
      </span>
    </div>
  </nav>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
