@use "./../styles.scss";
@import "./breakpoints.scss";

.shoppy-logo {
  padding: 0px 20px;
  height: 40px;
  @include media("<=tablet") {
    height: 3vh;
  }
}
.menuIcon {
  display: none;
  margin-left: 5vw;
  @include media("<=tablet") {
    display: block;
  }
}
.content {
  padding-top: 80px;
}
.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  height: 80px;
  text-align: center;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  a {
    position: relative;
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
    font-size: styles.$linksize;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    margin: 0px 10px;
  }
  a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: styles.$primary-color;
    left: 0;
    bottom: -0;
    transition: 0.3s;
  }
  a:hover:after {
    width: 100%;
  }
  .navLinks {
    display: flex;
    align-items: end;
    gap: 20;
    @include media("<=tablet") {
      display: none;
    }
  }
  .navIcons {
    margin-right: 5vw;
  }
}
