<header>
  <nav class="navMenu">
    <div class="menuIcon">
      <span class="material-symbols-outlined md-48"> menu </span>
    </div>
    <img
      class="shoppy-logo"
      src="./../assets/shoppy-logos_black.png"
      [routerLink]="['/products']"
    />
    <div class="navLinks">
      <a
        *ngFor="let category of categories; let i = index"
        [routerLink]="['/products', category | urlTransform, i]"
        >{{ category }}</a
      >
    </div>
    <div class="navIcons">
      <span
        class="material-symbols-outlined md-48 cart-icon"
        [routerLink]="['/cart']"
      >
        shopping_cart
        <span *ngIf="cartItemCount > 0" class="count-badge">{{
          cartItemCount
        }}</span>
      </span>
    </div>
  </nav>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
